gunicorn==23.0.0
dash==3.3.0
pandas==2.0.3
plotly==6.5.0
openpyxl==3.1.5
dash-table==5.0.0
flask==3.0.3
Werkzeug==3.0.6
MarkupSafe==2.1.5
# Ajoutez ici d'autres dépendances qui pourraient manquer si vous rencontrez des erreurs,
# telles que:
# numpy==1.24.4
# typing-extensions==4.13.2